<div app-id="property" class="general-row">
	<div app-id="padded">
		<div style="display: flex">
			<div app-id="name"></div>
			<div style="flex: 1;"></div>
			<input app-id="value" type="checkbox"></input>
		</div>
	</div>
</div>
