<div app-id="file_details">
	<div>
		<label>Filename:</label>
		<input app-id="filename" type="text"></input>
	</div>
	<div>
		<label>Category:</label>
		<input app-id="category" type="text"></input>
	</div>
	<div style="display: flex;">
		<div app-id="ok"></div>
		<div style="flex: 1;"></div>
	</div>
</div>
