<div app-id="function" class="general-row">
	<div app-id="padded" style="display: flex;">
		<div app-id="access">private</div>
		<div style="margin-left: 10px;">
			<div app-id="name">New Function</div>
			<input app-id="change_name" style="display: none;"></input>
		</div>
		<div app-id="static" style="margin-left: 10px;">static</div>
		<div app-id="purity" style="margin-left: 10px;">pure</div>
	</div>
</div>
