<div app-id="func_param" class="general-row">
	<div app-id="padded" style="display: flex;">
		<div style="margin-left: 10px; align-self: center;">
			<div app-id="name">New Param</div>
			<input app-id="change_name" style="display: none;"></input>
		</div>
		<div style="display: flex; align-self: center;">
			<div app-id="type" style="margin-left: 10px;">bool</div>
			<div app-id="type_object_or_def" style="margin-left: 3px;">(object)</div>
		</div>
		<div app-id="secondary_type_container" style="align-self: center;">
			<div style="display: flex;">
				<div app-id="arrow" style="margin-left: 10px;"> -> </div>
				<div app-id="secondary_type" style="margin-left: 10px;">bool</div>
				<div app-id="secondary_type_object_or_def" style="margin-left: 3px;">(object)</div>
			</div>
		</div>
		<div app-id="structure" style="margin-left: 10px; align-self: center;">single</div>
		<div style="flex: 1;"></div>
		<div app-id="delete_button"></div>
	</div>
</div>
