<div app-id="list_header" class="general-row">
	<div app-id="padded" style="display: flex; align-items: center;">
		<div app-id="name"></div>
		<div style="flex: 1;"></div>
		<div app-id="buttons" style="display: flex;"></div>
	</div>
</div>
