<div app-id="property" class="general-row">
	<div app-id="padded" style="display: flex;">
		<div app-id="access">private</div>
		<div style="margin-left: 10px;">
			<div app-id="name">New Property</div>
			<input app-id="change_name" style="display: none;"></input>
		</div>
		<div style="display: flex;">
			<div app-id="type" style="margin-left: 10px;">bool</div>
			<div app-id="type_object_or_def" style="margin-left: 3px;">(object)</div>
		</div>
		<div app-id="secondary_type_container">
			<div style="display: flex;">
				<div app-id="arrow" style="margin-left: 10px;"> -> </div>
				<div app-id="secondary_type" style="margin-left: 10px;">bool</div>
				<div app-id="secondary_type_object_or_def" style="margin-left: 3px;">(object)</div>
			</div>
		</div>
		<div app-id="structure" style="margin-left: 10px;">single</div>
	</div>
</div>
