<div app-id="simple_propery_value">
	<input app-id="bool" type="checkbox" style="display: none"/>
	<input app-id="number" type="number" style="display: none"/>
	<input app-id="string" type="text" style="display: none"/>
	<div app-id="class_def" style="display: none; user-select: none">None</div>
</div>
