<div app-id="struct_container" style="position: relative;">
	<div app-id="struct_header" class="general-row">
		<div app-id="padded" style="display: flex; align-items: center;">
			<img app-id="expand_icon" src="img/angle-small-down.png" style="width: 10px; height: 10px; align-self: center;"/>
			<div app-id="name" style="margin-left: 3px;"></div>
		</div>
	</div>
	<div app-id="content"></div>
</div>
