<div app-id="type_property" class="general-row">
	<div app-id="padded">
		<div style="display: flex; align-items: center;">
			<div app-id="name"></div>
			<div style="flex: 1;"></div>
			<div app-id="type_button"></div>
		</div>
	</div>
</div>
